.main {
  @apply flex
    flex-col
    w-screen
    lg:max-h-screen
    lg:overscroll-y-none
    items-center
    justify-center
    p-2
    gap-2;
}

.card {
  @apply grid
    grid-cols-5 
    w-fit 
    border
    lg:w-[800px]
    border-black;
}

.menu {
  @apply p-4
    flex
    flex-col
    gap-4;
}

.bingo {
  @apply text-fuchsia-500
    mt-2;
}
