.main {
  @apply w-fit
    px-12
    pt-12
    flex
    gap-8
    flex-col
    text-center;
}

.form {
  @apply flex
    items-center
    justify-center
    flex-col
    gap-12;
}

.label {
  @apply p-1
    flex
    gap-2
    items-center;
}

.input {
  @apply border-2
    border-black
    rounded
    p-1
    disabled:opacity-50 
    disabled:cursor-not-allowed 
    disabled:border-gray-400;
}

.inputRow {
  @apply flex
    flex-row
    gap-2
    px-2
    justify-start
    items-center;
}

.prompts {
  @apply flex
    flex-col
    gap-4;
}
